<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2c575b9c-ae23-44bd-88a1-7fe34973ea09/resourceGroups/t2208E-TTMH/providers/Microsoft.Web/sites/web-a6jxeqwwgmey6</ResourceId>
    <ResourceGroup>t2208E-TTMH</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://web-a6jxeqwwgmey6.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://web-a6jxeqwwgmey6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$web-a6jxeqwwgmey6</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>